@model ProyectoBDI2.Models.PEDIDO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿De verdad quieres borrar el pedido?</h3>
<div>
    <hr /><hr />
    <center><h2>Info general</h2></center>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CODPEDIDO)          </th>
                <th>@Html.DisplayNameFor(model => model.FECHAPEDIDO)        </th>
                <th>@Html.DisplayNameFor(model => model.FECHAENTREGA)       </th>
                <th>@Html.DisplayNameFor(model => model.CLIENTE.DIRCOBRO)   </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Html.DisplayFor(model => model.CODPEDIDO)            </th>
                <th>@Html.DisplayFor(model => model.FECHAPEDIDO)            </th>
                <th>@Html.DisplayFor(model => model.FECHAENTREGA)           </th>
                <th>@Html.DisplayFor(model => model.CLIENTE.DIRCOBRO)       </th>
            </tr>
        </tbody>
    </table>
    <hr />
    <center><h2>Productos del pedido</h2></center>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Cod Pedido</th>
                <th>Cod Prenda</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Cod Orden Produccion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProyectoBDI2.Models.LINEAPEDIDO lINEAPEDIDO in ViewBag.LINEASPEDIDO)
            {
                <tr>
                    <td>
                        @Html.Label(lINEAPEDIDO.CODPEDIDO.ToString(), htmlAttributes: new { @class = "control-label col-md-5", style = "font-weight:normal" })
                    </td>
                    <td>
                        @Html.Label(lINEAPEDIDO.CODPRENDA.ToString(), htmlAttributes: new { @class = "control-label col-md-5", style = "font-weight:normal" })
                    </td>
                    <td>
                        @Html.Label(lINEAPEDIDO.CANTIDAD.ToString(), htmlAttributes: new { @class = "control-label col-md-5", style = "font-weight:normal" })
                    </td>
                    <td>
                        @Html.Label(lINEAPEDIDO.PRECIO.ToString(), htmlAttributes: new { @class = "control-label col-md-5", style = "font-weight:normal" })
                    </td>
                    <td>
                        @Html.Label(lINEAPEDIDO.CODORDENPRODUCCION.ToString(), htmlAttributes: new { @class = "control-label col-md-5", style = "font-weight:normal" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sí, quiero borrarlo" class="btn btn-primary" /> |
            <!--    
            @Html.ActionLink("Volver", "Index", null, htmlAttributes : new { @class = "btn btn-default" })
            -->
            <button class="btn btn-default" onClick = "javascript:history.back(); return false;" size="10px" > Volver </button>
        </div>
    }
</div>
