@model ProyectoBDI2.Models.MATERIAPRIMA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MATERIAPRIMA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CANTIDADMINIMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDADMINIMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTOUNITARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTOUNITARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXISTENCIAACTUAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXISTENCIAACTUAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIDADMEDIDA1.NBRMEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIDADMEDIDA1.NBRMEDIDA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CODMATERIAL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
