@model ProyectoBDI2.Models.CONVERSIONUNIDADMEDIDA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CONVERSIONUNIDADMEDIDA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EQUIVALENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EQUIVALENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIDADMEDIDA.NBRMEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIDADMEDIDA.NBRMEDIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIDADMEDIDA1.NBRMEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIDADMEDIDA1.NBRMEDIDA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
