@model ProyectoBDI2.Models.CONJUNTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CONJUNTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRENDA.TALLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRENDA.TALLA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRENDA1.TALLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRENDA1.TALLA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
