@model ProyectoBDI2.Models.UNIDADMEDIDA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UNIDADMEDIDA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NBRMEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NBRMEDIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (ViewBag.canDelete)
        {
            <input type="submit" value="Delete" class="btn btn-default" />
        }
        else
        {
            <label class="label-danger">No se puede borrar la unidad de medida</label>
            <input type="submit" value="Delete" class="btn btn-default" disabled />
        }
        | @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
